a{
    margin: auto;
    color: black;
}

a:hover{
    text-decoration: none;
}


.bouton{
    border: solid 3px transparent;
}

.bouton:hover{
    border: solid 3px black;
}

.fond {
    background-color: cadetblue !important;
    color: red;
}